<!doctype html>
<html>
<head>
    <title>Dashboard 2.X</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'  />
    <link rel="stylesheet" href="./css/angular-material.css">
    <link rel="stylesheet" href="./fontIcons/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/offline-language-english.css" />
    <link rel="stylesheet" href="./css/offline.css" />
    <link rel="stylesheet" href="./css/docs.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/lib/angular.js"></script>
    <script src="./js/lib/angular-ui-router.js"></script>
    <script src="./js/lib/ngStorage.min.js"></script>
    <script src="./js/lib/angular-aria.min.js"></script>
    <script src="./js/lib/angular-animate.min.js"></script>
    <script src="./js/lib/angular-material-icons.min.js"></script>
    <script src="./js/lib/angular-material.js"></script>
    <script src="./js/lib/firebase.js"></script>
    <script src="./js/lib/angularfire.min.js"></script>
    <script src="./js/lib/offline.min.js"></script>
    <script src="./js/lib/stacktrace.js"></script>
    <script src="./js/app.js"></script>
    <script src="./config/routes.js"></script>
    <script src="./controller/loginControl.js"></script>
    <script src="./js/commonFunctions.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
</head>

<body ng-app="login" ng-controller="LoginControl" ng-cloak">
    <md-toolbar id="header">
        <div class="md-toolbar-tools">
            <h2>
          <span>Dashboard2.x</span>
        </h2>
        </div>
    </md-toolbar>
    <div layout="column" , layout-align="center center" , layout-fill>
        <div class="loginBox md-whiteframe-z1" , layout="column">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
        <span> Login</span></h2>
            </md-toolbar>
            <md-content class="md-padding" , layout="column">
                <md-input-container style="margin-top:9%;">
                    <label  class="loginInputLabel"> EmailAddress</label>
                    <input type="email" ng-model="form.username" required style="font-size:17px;"/>
                </md-input-container>
                <md-input-container>
                    <label class="loginInputLabel">Password</label>
                    <input type="password" ng-model="form.password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:10px;">
                    <md-button class="md-raised md-primary" style="color:white; width: 100%; margin-bottom: 2%;" ng-click="login()"> Login</md-button>
                    <!-- <div flex>
                        <md-button href="" , md-no-ink> Forgot Password</md-button>
                    </div> -->
                </div>
            </md-content>
        </div>
    </div>
       <md-toolbar id="footer">
        <div class="footerDiv" style="display: inline-flex;">
            <div class="leftFooterDiv">
                <span id="leftFooterSpan" style="line-height: 32px;font-size: 11px; font-weight: 400;">
               All Rights Reserved. © <span id="lblyear1">2016</span>.
                </span>
                </div>
         <div class="rightFooterDiv"> 
             <span id="rightFooterSpan" style="line-height: 35px; font-size: 11px; /*padding-left:55% !important;*/ margin-top:2px !important; max-width:150px; margin-right:100% !important" ><!-- Powered by Global RCP -->
                <img src="images/icons/Footer_logo.png" style="height:27px; margin-top: 2px;">
                </span>
            </div>      
          
        </div>
    </md-toolbar>
   <!--  <div class="divmask" id="divmask"> -->
   <div class="divmask" id="divmask">
   </div>
    <div align="center" class="divloading" id="divloading">
        <table cellspacing="0" cellpadding="0" style="height: 100%; border-collapse: collapse;" class="">
            <tbody>
                <tr>
                    <td style="" class="dx">
                        <md-progress-circular mode="indeterminate" md-diameter="60" ></md-progress-circular>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 
 

</body>

</html>
