<!DOCTYPE html>
<html>
<head>
    <title>Dashboard 2.X</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="./css/angular-material.css">
    <link href="./css/angular-chart.css" rel="stylesheet">
    <link rel="stylesheet" href="./fontIcons/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/docs.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link href="./css/angular-moment-picker.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/multiSelectDropdown.css">
    <link rel="stylesheet" href="./css/filtercontrol.css">
    <link rel="stylesheet" href="./css/offline-language-english.css" />
    <link rel="stylesheet" href="./css/offline.css" />
    <link href='./css/fontfamily.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/ui-grid.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/lib/angular.js"></script>
     <script src="./js/lib/moment-with-locales.js"></script>
    <script src="./js/lib/angular-moment-picker.js"></script>
    <script src="./directives/ngMultiselectDropdown.js"></script>
    <script src="./directives/ngPopover.js"></script>
    <script src="./js/lib/Chart.min.js"></script>
    <script src="./js/lib/angular-chart2.js"></script>
    <script src="./js/lib/angular-ui-router.js"></script>
    <script src="./js/lib/ngStorage.min.js"></script>
    <script src="./js/lib/angular-aria.min.js"></script>
    <script src="./js/lib/angular-touch.js"></script>
    <script src="./js/lib/angular-animate.min.js"></script>
    <script src="./js/lib/ui-grid.js"></script>
    <script src="./js/lib/angular-material.js"></script>   
    <script src="./js/lib/stacktrace.js"></script>
    <script src="./js/lib/firebase.js"></script>
    <script src="./js/lib/offline.min.js"></script>
    <script src="./js/commonFunctions.js"></script>
    <script src="./js/app.js"></script>
    <script src="./config/routes.js"></script>
    <script src="./js/exceptionHandler.js"></script>
    <script src="./services/menu.service.js?20161117"></script>
    <script src="./controller/home.controller.js"></script>
    <script src="./directives/menu_toggle.directive.js"></script>
    <script src="./directives/menulink.directive.js"></script>
    <script src="./controller/chartController.js"></script>
    <script src="./controller/loginControl.js"></script>
    <script src="./controller/gridController.js"></script>
    <script src="./controller/filterGridController.js"></script>
    <script src="./controller/filterController.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
</head>

<body ng-app="app" ng-cloak  >

    <md-toolbar id="header" layout="row" layout-align="space-between center" id="appHeader">       
          <span  ng-controller="AppCtrl" style="font-size:20px; width:180px; word-spacing:5px !important; margin-left:10px;" ng-click="toggleSidenav('left')"><i class="fa fa-bars" aria-hidden="true"></i><label style="margin-left:20px;" >Dashboard2.x</label></span>               
        
          <span class="filterIcon" ng-click="showfilter()" ng-controller="AppCtrl" id="subHeader" style="margin-right:10px;"> <h2 class="md-toolbar-item md-breadcrumb md-headline"> <i class="fa fa-filter" aria-hidden="true"></i></h2> </span>       
    </md-toolbar>

    <div class="fill-height">
        <div ui-view width="device-width" id="indexView"></div>
    </div>
    <md-toolbar id="footer" layout="row" layout-align="space-between center" style="bottom:0 !important;" >
       
            
                <span id="leftFooterSpan" style="line-height: 32px;font-size: 11px; font-weight: 600; margin-left:10px;">
               All Rights Reserved. © <span id="lblyear1">2016</span>.
                </span>
            
            
                <span id="rightFooterSpan" ><!-- Powered by Global RCP -->
                <img src="images/icons/Footer_logo.png" style="height:28px; margin-top: 2px; margin-right:10px;">
                </span>
          
       
    </md-toolbar>
    <div class="divmask" id="divmask">
    </div>
    <div align="center" class="divloading" id="divloading">
        <table cellspacing="0" cellpadding="0" style="height: 100%; border-collapse: collapse;" class="">
            <tbody>
                <tr>
                    <td style="" class="dx">
                        <md-progress-circular mode="indeterminate" md-diameter="60"></md-progress-circular>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
<!-- &#8211;{{thisYear}}. -->
