<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
  <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(12)>
             <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:5px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="generatePdf()"></i>
    </div>
    <div id="contentBase">
        <div class="demo-content">
            <md-content class="md-padding _md" ng-controller="FilterController" style="color:#777;">

                <div id="grid1" ui-grid="gridOptions" ng-init="getGridData()" class="grid" ui-grid-resize-columns ></div>
            </md-content>
        </div>
    </div>
</div>
