<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
   <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(6)>
              <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
    </div>
    <div id="contentBase">
        <div layout-gt-md="row">
    <md-content class="md-padding _md" id="canvasBase" ng-init="plotBubbleChart()">

<canvas class="chart chart-bubble" chart-data="data" chart-colors="colors" chart-options="options" id="canvas" width="800" height="350"></canvas>

</md-content>
        </div>
    </div>
</div>