<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
  <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(8)>
    <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
    </div>
    <div id="contentBase">
        <div layout-gt-md="row">
<<<<<<< HEAD
<md-content class="md-padding _md" id="canvasBase" ng-init="plotDynamicChart()">
  <label id="chartTitle" style="color:#777; font-weight:bold;">{{chartTitle}}</label>
<canvas id="canvas" class="chart-base" chart-type="type" chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>
=======
          <md-content class="md-padding _md" style="background:white; width: 100%;" id="canvasBase">
<canvas id="canvas" class="chart-base" chart-type="type" chart-data="data" chart-labels="labels"  chart-colors='colors' width="800" height="350">
</canvas> 
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
<md-button md-no-ink class="md-primary" ng-click="toggle()">Toggle</md-button>
</md-content>
        </div>
    </div>
</div>





                
