<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
    <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(13)>
             <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
    </div>
    <div id="contentBase">
        <div class="demo-content">
          <md-content class="md-padding _md" style="color:#777;">
<!--ui grid-->
<div ng-controller="FilterGridController">
<input ng-model="filterValue" ng-change="filter()" placeholder="Name" /> 
<!-- <select ng-model="filterValue" ng-change="filter()" placeholder="Select Company">
	<option value="zolavo">Zolavo</option>
	<option value="mixers">Mixers</option>
	<option value="elentrix">Elentrix</option>
</select> -->
   <!--  <md-select placeholder="Select Company" ng-model="companies"  style="max-width: 200px;">
     <md-option ng-value="user" ng-repeat="company in companies">{{company.name}}</md-option>
     </md-select> -->
<div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ></div></div>
</md-content>
        </div>
    </div>
</div>