<div layout="row">
    <!--<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="true">-->
    <md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print md-is-locked-open="$mdMedia('gt-sm')" id="sidenav">
        <header class='nav-header'>
            <div style="margin-left:7%; margin-top:4%">
                <img src="./images/icons/Guest-User-Icon.png" id="headerSidenavLogo">
            </div>
            <b style="font-size:14px; color:#777">Hi User</b>
        </header>
        <md-content role="navigation" style="max-width:218px !important;">
            <ul class="side-menu">
                <li ng-repeat="section in vm.menu.sections" class="parent-list-item" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <!--MOBILE-->
    <md-sidenav layout="column" class="site-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="right" hide-print id="rightSidenav">
        <div class="material-dropdown dropdown-btn " style="margin-top:8%; padding-left:9%;">
            <!-- <label style="font-weight:600; font-size:14px;margin-left:13px;">PERIOD</label> -->
            <div class="multiselect-wrapper" style="margin-top:5px !important;">
                <div class="multiselectDropdownBtn" moment-picker="ctrl.datepicker" format="MMM YYYY" maxView="year" minView='decade' startView='decade' style="float:left; width:100%;">
                    <span class="input-group-addon"><i class="octicon octicon-calendar"></i></span>
                    <input type="text" readonly placeholder="SELECT PERIOD" ng-model="ctrl.datepicker" ng-model-options="{ updateOn: 'blur' }" id="MYDatepicker" ng-controller="FilterController">
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:0px !important; margin-right: -8px !important; font-size:16px;"></i>
                </div>
            </div>
        </div>
<<<<<<< HEAD
        <div class="multiselect-demo-container" style="height:154px; margin-left:0px; padding-left:9%;" ng-controller="FilterController" ng-init="getFilterData()">
            <div class="material-dropdown dropdown-btn " style="width:100%; padding-top:8% !important;">
                <div class="multiselect-wrapper " style="margin-top:5px !important;" ng-if="locationReady">
                    <multiselect-dropdown trigger-id="mobLocation" dd-direction="bottom" options="locations" display-prop="text" value-prop="text" ng-model="model.locations" on-select="multiselectSelection('3')" on-open="miltiselectDdOpen('3')" on-close="multiselectDdClose('3')" placeholder="ALL LOCATIONS" max-dd-height="100px" max-selections-allowed="26" enable-select-all="true" theme="material" clear-fn="clearFn()" option-id='id' go="go" go-button="goButton()"></multiselect-dropdown>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-24px !important; margin-right: 16% !important; font-size:16px; line-height:21px;" id='mobLocation'></i>
                </div>
            </div>
            <div class="material-dropdown dropdown-btn" style="width:100%; padding-top:8% !important;">
                <div class="multiselect-wrapper" style="margin-top:5px !important;" ng-if="doctorReady">
                    <multiselect-dropdown trigger-id="mobDoctor" dd-direction="left" options="doctors" display-prop="text" value-prop="text" ng-model="model.doctor" on-select="multiselectSelection('8')" on-open="miltiselectDdOpen('8')" on-close="multiselectDdClose('8')" placeholder="SELECT DOCTOR" max-selections-allowed="26" max-dd-height="100px" enable-select-all="true" theme="material" clear-fn="clearFn()" option-id='id' go="go" go-button="goButton()"></multiselect-dropdown>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-24px !important; margin-right: 16% !important; font-size:16px; line-height:21px;" id='mobDoctor'></i>
                </div>
            </div>
        </div>
        <div class="material-dropdown dropdown-btn" ng-controller="FilterController" style="padding-left:9%">
            <div class="multiselect-wrapper">
                <div class="ng-popover-trigger multiselectDropdownBtn" id='mobselectLag'>
                    <input type="text" readonly id="selectLagFilter" style="border:none !important;" placeholder="SELECT LAG" class="selectLagBtn">
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:2px; margin-right: -8px !important; font-size:16px;" id="mobselectLag"></i>
                </div>
            </div>
        </div>
        <ng-popover trigger="mobselectLag" on-open="openCallback()" on-close="closeCallback()" ng-class="popoverClass" direction="">
            <div style="position:static; padding-top:3px; padding-top:5px; padding-left:13px;padding-bottom:3px;" ng-controller="FilterController">
                <div style="height:18px;">
                    <label style="line-height: 1.8;">Greater Than</label>
                    <input type="text" oncopy="return false" onpaste="return false" ng-model="lag.greaterthan" class="selectLagPopupControls" ng-change="lagchange('greater')">
                </div>
                <div style="height:25px; margin-top:5%;">
                    <label style="line-height: 1.8;"> Less Than </label>
                    <input type="text" oncopy="return false" onpaste="return false" style="font-size:11px; float:right;" ng-model="lag.lessthan" class="selectLagPopupControls" ng-change="lagchange('lesser')">
                </div>
            </div>
        </ng-popover>
        <div style="display:inline-block; margin-left:11px; padding-top:8%; padding-left:9%;">
            <md-button id="goButton" class="filterButtonMobile" ng-controller="FilterController">GO</md-button>
            <md-button id="clearBtn" class="filterButtonMobile" ng-controller="FilterController" style="margin-left:15px;">CLEAR</md-button>
=======
        <div class="multiselect-demo-container" style="height:154px; margin-left:0px;">
            <div class="material-dropdown dropdown-btn " ng-controller="LocationFilterController" style="width:100%; padding-top:8% !important;">
                <!-- <label style="margin-top:8%;  font-weight:600; font-size:14px;margin-left:13px;">LOCATION</label> -->
                <div class="multiselect-wrapper " style="margin-top:5px !important;">
                   <multiselect-dropdown trigger-id="mobLocation" dd-direction="bottom" options="locations" display-prop="displayName" value-prop="value" ng-model="model.locations" on-select="multiselectSelection('3')" on-open="miltiselectDdOpen('3')" on-close="multiselectDdClose('3')" placeholder="ALL LOCATIONS" max-dd-height="100px" max-selections-allowed="5" enable-select-all="true" theme="material" clicked="clicked" ></multiselect-dropdown>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-23px !important; margin-right: 70px !important; font-size:16px;"></i>
                </div>
            </div>
            <div class="material-dropdown dropdown-btn" ng-controller="DoctorFilterController" style="width:100%; padding-top:8% !important;">
               <!--  <label style="margin-top:8%; font-weight:600; font-size:14px;margin-left:13px;">DOCTOR</label> -->
                <div class="multiselect-wrapper" style="margin-top:5px !important;">
                    <multiselect-dropdown trigger-id="mobDoctor" dd-direction="left" options="doctors" display-prop="value" value-prop="value" ng-model="model.doctor" on-select="multiselectSelection('8')" on-open="miltiselectDdOpen('8')" on-close="multiselectDdClose('8')" placeholder="SELECT DOCTOR" max-selections-allowed="5" max-dd-height="100px" enable-select-all="true" theme="material" ></multiselect-dropdown>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-23px !important; margin-right: 70px !important; font-size:16px;"></i>
                </div>
            </div>
               </div>
         <div class="material-dropdown dropdown-btn" ng-controller="LocationFilterController" >
                    <div class="multiselect-wrapper">
                        <div class="ng-popover-trigger multiselectDropdownBtn" id='mobselectLag'>
                            <input type="text" readonly id="selectLagFilter" style="border:none !important;"  placeholder="SELECT LAG" class="selectLagBtn" >
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:2px; margin-right: -8px !important; font-size:12px;" ></i>
                        </div>
                           
                    </div>                 
                          
            
                </div>
                   <ng-popover trigger="mobselectLag"  on-open="openCallback()" on-close="closeCallback()" ng-class="popoverClass" direction="">
                             <div style="padding:3px;" ng-controller="LocationFilterController">
                            <label>GREATER THAN</label>
                            <input type="number" oncopy="return false" onpaste="return false" ng-model="lag.greaterthan" class="selectLagPopupControls" ng-change="lagchange('greater')">
                            <br> <label style="margin-top:1px;"> LESS THAN </label>
                            <input type="number" oncopy="return false" onpaste="return false" style=" border: 1px solid #ccc; padding-bottom: 3px; font-size:11px; margin-top: 3px; margin-left:45px;" ng-model="lag.lessthan" class="selectLagPopupControls" ng-change="lagchange('lesser')">
                                </div>
                            </ng-popover>
        <div style="display:inline-block; margin-left:11px; padding-top:8%;">
<md-button class="filterButtonMobile" ng-controller="LocationFilterController" ng-click="goButton()">GO</md-button>
            <md-button type="reset" class="filterButtonMobile" ng-controller="LocationFilterController" ng-click="clear()">CLEAR</md-button>
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
        </div>
    </md-sidenav>



    <!--WEB-->
    <div layout="column" tabindex="-1" role="main" flex class="layout-column flex">
        <div class="filterControls" id="filterControls">
            <div class="material-dropdown dropdown-btn ">
                <div class="multiselect-wrapper" style="">
                    <div class="multiselectDropdownBtn" moment-picker="ctrl.datepicker" format="MMM YYYY" maxView="year" minView='decade' startView='decade' style="float:left">
                        <span class="input-group-addon"><i class="octicon octicon-calendar"></i></span>
                        <input type="text" readonly placeholder="SELECT PERIOD" ng-model="ctrl.datepicker" id="MYDatepicker" ng-controller="FilterController" ng-change="setDateRange()">
                        <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:0px !important; margin-right: -8px !important; font-size:12px;"></i>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            <div class="multiselect-demo-container" ng-controller="FilterController" ng-init="getFilterData()">
                <div class="material-dropdown dropdown-btn ">
                    <div class="multiselect-wrapper " id="locationFilter" ng-if="locationReady">
                        <multiselect-dropdown trigger-id="location" dd-direction="bottom" options="locations" display-prop="text" value-prop="text" ng-model="model.locations" placeholder="ALL LOCATIONS" max-dd-height="100px" max-selections-allowed="26" enable-select-all=true theme="material" clear-fn="clearFn()" option-id='id' go="go" go-button="goButton()"></multiselect-dropdown>
                        <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-20px !important; margin-right: 6px !important; font-size:12px;"></i>
                    </div>
                </div>
                <div class="material-dropdown dropdown-btn">
                    <div class="multiselect-wrapper" id="doctorFilter" ng-if="doctorReady">
                        <multiselect-dropdown trigger-id="doctor" dd-direction="bottom" options="doctors" ng-model="model.doctors" display-prop="text" value-prop="text" on-select="multiselectSelection('1')" on-open="miltiselectDdOpen('1')" on-close="multiselectDdClose('1')" placeholder="ALL DOCTORS" max-dd-height="100px" max-selections-allowed="26" enable-select-all=true theme="material" clear-fn="clearFn()" option-id='id' go="go" go-button="goButton()"></multiselect-dropdown>
=======
            <div class="multiselect-demo-container">
                <div class="material-dropdown dropdown-btn " ng-controller="LocationFilterController">
                    <div class="multiselect-wrapper " id="locationFilter">
                        <multiselect-dropdown trigger-id="material" dd-direction="bottom" options="locations" display-prop="displayName" value-prop="value" ng-model="btnText" on-select="multiselectSelection('3')" on-open="miltiselectDdOpen('3')" on-close="multiselectDdClose('3')" placeholder={{btnText}} max-dd-height="100px" max-selections-allowed="5" enable-select-all="true" theme="material" ctrl-fn="ctrlFn()" option-id='id' accessor="accessor"></multiselect-dropdown>
                        <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-20px !important; margin-right: 6px !important;"></i>
                    </div>
                </div>
                <div class="material-dropdown dropdown-btn" ng-controller="DoctorFilterController">
                    <div class="multiselect-wrapper" id="doctorFilter">
                        <multiselect-dropdown trigger-id="material2" dd-direction="bottom" options="doctors" display-prop="value" value-prop="value" ng-model="model.doctors" on-select="multiselectSelection('1')" on-open="miltiselectDdOpen('1')" on-close="multiselectDdClose('1')" placeholder="ALL DOCTORS" max-dd-height="100px" max-selections-allowed="5" enable-select-all="true" theme="material" option-id='id' ></multiselect-dropdown>
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
                    </div>
                    <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-20px !important; margin-right: 6px !important; font-size:12px;"></i>
                </div>
<<<<<<< HEAD
                <div class="material-dropdown dropdown-btn">
                    <div class="multiselect-wrapper">
                        <div class="ng-popover-trigger multiselectDropdownBtn" id='selectLag'>
                            <input type="text" readonly id="selectLagFilter" style="border:none !important;" placeholder="SELECT LAG" class="selectLagBtn">
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:2px; margin-right: -8px !important; font-size:12px;"></i>
                        </div>
                    </div>
                </div>
=======
       
<div class="material-dropdown dropdown-btn" ng-controller="LocationFilterController" >
   <div class="multiselect-wrapper">
     <div class="ng-popover-trigger multiselectDropdownBtn" id='selectLag'>
         <input type="text" readonly id="selectLagFilter" style="border:none !important;"  placeholder="SELECT LAG" class="selectLagBtn" >
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:2px; margin-right: -8px !important; font-size:12px;" ></i>
                        </div>
                           
                    </div>               
                </div>            
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
                <div class="material-dropdown dropdown-btn " style="width: 50px !important;">
                    <div class="inset" ng-cloak>
                        <md-switch ng-model="data.switch" aria-label="switch" ng-true-value="'Date of Service'" ng-false-value="'Data Entered'" class="md-warn" ng-change="onSwitchChange()" title="{{ data.switch }}">
                        </md-switch>
                    </div>
                </div>
<<<<<<< HEAD
                <md-button id="goButton" class="filterButton">GO</md-button>
                <md-button id="clearBtn" class="filterButton">CLEAR</md-button>
            </div>
            <ng-popover trigger="selectLag" on-open="openCallback()" on-close="closeCallback()" ng-class="popoverClass" style="overflow:hidden;">
                <div style="padding-top:3px; padding-top:5px; padding-left:13px;padding-bottom:3px;" ng-controller="FilterController">
                    <div style="height:18px;">
                        <label style="line-height: 1.8;">Greater Than</label>
                        <input type="text" oncopy="return false" onpaste="return false" ng-model="lag.greaterthan" class="selectLagPopupControls" ng-change="lagchange('greater')">
                    </div>
                    <div style="height:25px; margin-top:5%;">
                        <label style="line-height: 1.8;"> Less Than </label>
                        <input type="text" oncopy="return false" onpaste="return false" style="font-size:11px; float:right;" ng-model="lag.lessthan" class="selectLagPopupControls" ng-change="lagchange('lesser')">
                    </div>
                </div>
            </ng-popover>
=======
                
<md-button id="goButton" class="filterButton" ng-controller="LocationFilterController">GO</md-button>
    <!--  <button ng-controller="LocationFilterController"ng-click='click()'>GO</button> -->
    <md-button id="clearBtn" class="filterButton" ng-controller="LocationFilterController" >CLEAR</md-button>
            </div>
               <ng-popover trigger="selectLag"  on-open="openCallback()" on-close="closeCallback()" ng-class="popoverClass">
                 <div style="padding:3px;" ng-controller="LocationFilterController">
                            <label>GREATER THAN</label>
                            <input type="number" oncopy="return false" onpaste="return false" ng-model="lag.greaterthan" class="selectLagPopupControls" ng-change="lagchange('greater')">
                            <br> <label style="margin-top:1px;"> LESS THAN </label>
                            <input type="number" oncopy="return false" onpaste="return false" style=" border: 1px solid #ccc; padding-bottom: 3px; font-size:11px; margin-top: 3px; margin-left:45px;" ng-model="lag.lessthan" class="selectLagPopupControls" ng-change="lagchange('lesser')">
                                </div>
                            </ng-popover>
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
        </div>
    </div>
    <!-- <md-content flex id="content" class="md-padding" style="margin-left:400px !important;"> -->
    <div ui-view name="content" class="innerView">
    </div>
    <!-- </md-content> -->
</div>
<!--footer-->
