<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;" >
  <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init="getReportHeading(2)">
                  <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
    </div>
    <div id="contentBase">
        <div layout-gt-md="row">
<md-content class="md-padding _md" id="canvasBase" ng-init="plotLineChart()">
<canvas id="canvas" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"  chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" width="950" height="350">
</canvas> 
<div id="showLegend"> </div>
</md-content>
        </div>
    </div>
</div>