<div id="reportContent" class="reportContent" style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
    <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(1)>
          <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
 <!--     <label style="font-size: 11px; font-weight: 400; margin-left:10px;">{{SelectedDateRange}}</label> -->
    </div>
    <div id="contentBase" flex="33" layout-gt-md="row">
   
<<<<<<< HEAD
  <div layout-gt-md="row" style="width:100%;" id="canvas">
  <panel-widget flex title="PIE" template="views/pieChart.html" class="fixed-height-widget"><div  ng-controller="ChartCtrl" ng-init="plotPieChart()">
    <label id="overviewChartTitle" >Total Revenue: $15,641.628</label>
 <!--  <label id="overviewChartTitle" style="color:#777; margin-top:1%;">Total Revenue : {{TotalRevenue}}</label>  -->
<canvas  class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colors" ></canvas></div>
  </panel-widget>
  <div id="sectionDivider" ></div>
  <panel-widget flex title="Doughnut" template="views/DoughnutChart.html" class="fixed-height-widget">
    <div ng-controller="ChartCtrl" ng-init="plotDoughnutChart()" >
      <label id="overviewChartTitle" >Total Revenue: $64,251.515</label>
             <!--   <label id="overviewChartTitle" style="color:#777; margin-top:1%;">Total Revenue : {{TotalRevenue}}</label>   -->
                <canvas  class="chart chart-doughnut" chart-data="data" chart-labels="labels"  >
                </canvas>
    </div>

  </panel-widget>
</div>
=======
    <!-- <md-content id="canvasBase" style="width:380px; background:white;">
                <div ng-controller="PieCtrl" id="overviewSection1" style="width:355px; margin-top:10px !important;">
                    <label style="color:#777; ">Total Revenue : $15,641.628</label>
  <label style="color:#777; margin-top:1%;">Total Revenue : {{TotalRevenue}}</label> 
                    <canvas id="canvas" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colors" width="120" height="150" >
                    </canvas>
                </div>
            </md-content>
<div id="sectionDivider" ></div>
              <md-content  id="canvasBase"  style="width:380px; background:white;">
              <div ng-controller="DoughnutCtrl" id="overviewSection2" style="width:350px;  margin-top:10px; !important;">
              <label style="color:#777;">Total Revenue : $64,251.515</label>
               <label style="color:#777; margin-top:1%;">Total Revenue : {{TotalRevenue}}</label>  
                <canvas id="canvas" class="chart chart-doughnut" chart-data="data" chart-labels="labels"  width="120" height="150" >
                </canvas>
                </div>
            </md-content> -->
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62

    </div>
</div>