<div id="reportContent" class="reportContent" ng-cloak style="bottom:2% !important; margin-left:10px; margin-right:10px !important;">
<<<<<<< HEAD
    <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl" ng-init=getReportHeading(14)>
        <label style="margin-left:14px;">{{reportTitle}}</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;">{{dateRange}}</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
        <input type="search" ng-controller="PaginationGridController" id="mobsearchBox" placeholder="Go to page no" ng-model="searchBox" ng-change="searchPage('mob')" class="ui-grid-pager-control" style="font-size:12px; color:#333; float:right; width:32%; margin-top: -8px;" />
    </div>
    <div id="contentBase">
        <div class="demo-content">
            <md-content class="md-padding _md" ng-controller="PaginationGridController" style="color:#777; background:white;">
                <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
                <div style="display:inline-block; width:100% !important;">
                    <div style="float:left;" id="paginationGridEntry">
                        <!--  <label style="color:#777;">Showing  {{ gridApi.pagination.getPage() }} to {{ gridApi.pagination.getTotalPages() }} of {{ gridOptions.totalItems}} entries</label> -->
                        <input type="search" id="searchBox" placeholder="Go to page no" ng-model="searchBox" class="ui-grid-pager-control" ng-change="searchPage('web')" style="font-size:12px; color:#333;" />
                        <!-- on change pass id to an inner function and in that function call seek-->
                        <label style="color:#333; margin-left:2px;  font-size:12px;">Show</label>
                        <select id="pageSz" style="background:white; margin-left:5px;" ng-model="pgSize" ng-change="setPageSize()" placeholder={{gridOptions.paginationPageSizes[0]}} ng-if="gridOptions.paginationPageSizes.length > 1">
                            <option selected>{{gridOptions.paginationPageSizes[0]}}</option>
                            <option>{{gridOptions.paginationPageSizes[1]}}</option>
                            <option>{{gridOptions.paginationPageSizes[2]}}</option>
                        </select>
                        <label style="color:#333; margin-left:5px;  font-size:12px;">entery per page</label>
                    </div>
                    <div id="paginationButtons" style="float:right; margin-right:10px !important;">
                        <label ng-click="gridApi.pagination.previousPage()" style="color:#333;  font-size:11px;">
                            Previous
                        </label>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(1)" id="pageButton"> 1 </button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(2)" id="pageButton">2</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(3)" id="pageButton">3</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(4)" id="pageButton">4</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(5)" id="pageButton">5</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(6)" id="pageButton">6</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(7)" id="pageButton">7</button>
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(8)" id="pageButton">8</button>
                        <!-- <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(9)"  style="background:rgb(250,250,250); border:none; color:#777;">9</button> -->
                        .....
                        <button type="button" class="btn btn-success" ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())"id="pageButton">{{ gridApi.pagination.getTotalPages() }}</button>

                        <label type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()" style="color:#333; margin-left:10px; font-size:11px;">
                            Next
                        </label>
                    </div>
                </div>
=======
    <div id="reportHeader" class="reportHeader" ng-controller="ReportHeaderCtrl">
        <label style="margin-left:10px;">Grid</label>
        <br/>
        <label style="font-size: 11px; font-weight: 400; margin-left:10px;">(Jan 15,2016 - Mar 10, 2016)</label>
        <i class="fa fa-file-pdf-o" aria-hidden="true" id="exportIcon" ng-click="exportPdf()"></i>
    </div>
    <div id="contentBase">
        <div class="demo-content">
            <md-content class="md-padding _md" ng-controller="PaginationGridController" style="color:#777;">
                 <div ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
                 <div style="display:inline-block;">
                 <div style="float:left">
                      <label style="color:#777;">Showing  {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }} of {{ gridOptions.totalItems}} entries</label>
     
      <input type="text" placeholder="Go to page no." class="ui-grid-pager-control"/>
    <!-- on change pass id to an inner function and in that function call seek-->
    </div>
    <div style="float:right">
     <label ng-click="gridApi.pagination.previousPage()" style="color:#777; font-weight:bold;">
        Previous
      </label>
     
<button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(1)" style="background:white; border:none; color:#777;"> 1 </button>
<button type="button" class="btn btn-success" ng-click="gridApi2.pagination.nextPage(2)"  style="background:white; border:none; color:#777;">2</button> .....
 <label type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()" style="color:#777; font-weight:bold; margin-left:10px;">
        Next
      </label>
      </div></div>
>>>>>>> a85996b62f92d469633bf8e2bc48c9ab1b49ec62
            </md-content>
        </div>
    </div>
</div>
